:root {
  --main-bg-color: #28203c;
  --ascent-color: #e38142;
  --dash-bg-color: #F0E5DE;
  --grey-color: #666666;
}

body {
  background-color: var(--dash-bg-color);
}

.dashboard-container {
  display: flex;
  flex-direction: column;
}

.inverted {
  background-color: var(--main-bg-color);
  color: white;
}

.border-bottom {
  border-bottom: 1px solid var(--grey-color);
  padding-bottom: 1em;
  margin-bottom: 2em;
}

.ideas {
  background-color: #6666663b;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 0 2em;
}

.ideas > h2 {
  color: black;
}
.idea-panel > h3 {
  color: black;
  margin-bottom: 0;
}

.idea-panel > p {
  margin-top: 0;
  font-size: 0.9rem;
}

.aboutme {
  background-color: white;
  color: var(--grey-color);
  border: 2px solid var(--ascent-color);
  border-radius: 20px;
  position: relative;
  padding: 1.5em 0;
  text-align: start;
}

.sun {
  width: 60px;
  position: absolute;
  top: -25px;
  left: -25px;
}

.message-container {
  background-color: white;
  border-radius: 20px;
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message-header {
  color: black;
}

.message {
  width: 70%;
  margin: 1em auto;
}

#message-list > .message-container {
  margin-bottom: 1em;
}

.add-text {
  margin: 0;
  margin-top: 1em;
}

.add-btn {
  text-decoration: none;
  color: var(--main-bg-color);
  cursor: pointer;
  font-size: 3rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.add-container:hover {
  outline: 2px solid var(--ascent-color);
  cursor: pointer;
}

@media (min-width: 600px) {
  .underline {
    font-size: 1.5rem;
  }
}

@media (min-width: 800px) {
  .dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .dashboard {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2em;
  }

  .ideas {
    width: 30%;
  }

  .dashboard-right {
    width: 70%;
    margin-left: 3em;
  }

  #message-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }

  .message-header {
    text-align: left;
  }
}
